# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: Ubuntu (Linux)

cudatoolkit
sox  # backend support for linux
torchaudio
torch
pydub
numpy
matplotlib
scipy
pesq
numba
pystoi
tqdm
IPython
pysoundfile
soundfile
